@font-face {
  font-family: 'Myfont';
  src: url("../assets/font/851CHIKARA-YOWAKU_002.ttf"); }

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Myfont', sans-serif; }

body {
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Myfont', sans-serif; }

h1 {
  text-align: center; }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1280px) {
    .wrapper {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; } }

.input-wrapper, .output-wrapper {
  width: 100%;
  margin-bottom: 20px; }
  @media (min-width: 1280px) {
    .input-wrapper, .output-wrapper {
      width: auto; } }

.flex-container {
  display: flex;
  justify-content: center; }

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }

.problem-button {
  margin-top: 4px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 15px;
  background-color: #fff;
  font-weight: bold; }
  .problem-button:hover {
    background-color: #333;
    color: #fff; }

#input-button, #output-button, #delete-input-button, #delete-output-button {
  display: block;
  margin: 0 50px;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: 'Myfont', sans-serif; }
  #input-button:hover, #output-button:hover, #delete-input-button:hover, #delete-output-button:hover {
    background-color: #333;
    color: #fff; }

#sudoku-board {
  border-collapse: collapse;
  margin: 0 auto;
  border: 2px solid #333;
  margin-bottom: 20px; }
  #sudoku-board td {
    border: 1px solid #ccc;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    text-shadow: 0 0 0 #333;
    cursor: pointer; }
    #sudoku-board td:nth-child(3n) {
      border-right: 2px solid #333; }
  #sudoku-board tr:nth-child(3n) td {
    border-bottom: 2px solid #333; }

.highlighted {
  background-color: #f3edea; }
